# Source: https://github.com/github/gitignore/blob/main/Global/Linux.gitignore 
# Reference: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# .gitconfig files that may be local
.gitconfig
